* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.top {
  width: 100%;
  height: 60%;
  /* background-color: #90caf9; */
  background-image: url(https://images.unsplash.com/photo-1693421385607-8f034601ad6f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2832&q=80);
  background-position: center;
  background-size: cover;
}

.toverlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.toverlay h1,
p {
  color: #fafafa;
}
.toverlay h1 {
  font-size: 90px;
}
.bottom {
  width: 100%;
  height: 40%;
  background-color: rgb(255, 0, 0);
  display: flex;
}

.b1 {
  width: 25%;
  height: 100%;
  /* background-color: #bbdefb; */
  background-image: url(https://images.unsplash.com/photo-1668127852226-9a43b4c38c80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80);
  background-position: center;
  background-size: cover;
}
.b2 {
  width: 25%;
  height: 100%;
  /* background-color: #90caf9; */
  background-image: url(https://images.unsplash.com/photo-1672329753774-2c81f254471f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80);
  background-position: center;
  background-size: cover;
}
.b3 {
  width: 25%;
  height: 100%;
  /* background-color: rgb(224, 255, 46); */

  display: flex;
}
.b3top {
  width: 50%;
  height: 100%;
  /* background-color: #64b5f6; */

  background-image: url(https://images.unsplash.com/photo-1675821422070-b2ce68d02abc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
  background-position: center;
  background-size: cover;
}
.b3bottom {
  width: 50%;
  height: 100%;
  /* background-color: #42a5f5; */
  background-image: url(https://images.unsplash.com/photo-1672161622495-73eeeff82dfb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80);
  background-position: center;
  background-size: cover;
}
.b4 {
  width: 25%;
  height: 100%;
  /* background-color: #2196f3; */
  background-image: url(https://images.unsplash.com/photo-1595319100707-9401051ba7d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2936&q=80);
  background-position: center;
  background-size: cover;
}

@media (max-width: 600px) {
  .top {
    width: 100%;
    height: 50%;
    background-color: #fafafa;
  }
  .toverlay {
    flex-direction: column;
    justify-content: center;
  }
  .toverlay h1,
  p {
    color: #90caf9;
  }
  .toverlay h1 {
    font-size: 60px;
    padding: 0 100px 0 0;
    margin: 0 80px 0 0;
  }
  .toverlay p {
    padding-left: 50px;
  }

  .bottom {
    width: 100%;
    height: 150%;
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
  }
  .b1 {
    width: 100%;
    height: 25%;
    background-color: #f5f5f5;
  }
  .b2 {
    width: 100%;
    height: 25%;
    background-color: #eeeeee;
  }
  .b3 {
    width: 100%;
    height: 25%;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
  }
  .b3top {
    width: 100%;
    height: 100%;
    background-color: #bdbdbd;
  }
  .b3bottom {
    width: 100%;
    height: 100%;
    background-color: #9e9e9e;
  }
  .b4 {
    width: 100%;
    height: 25%;
    background-color: #616161;

    display: flex;
  }
}

    display: flex;
  }
}
